<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="star_energy_ptwEntities" connectionString="metadata=res://*/Entities.Tools.csdl|res://*/Entities.Tools.ssdl|res://*/Entities.Tools.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RANZ-KURNIA\SQLEXPRESS;initial catalog=star_energy_ptw;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="star_energy_ptwEntities1" connectionString="metadata=res://*/Entities.star_energy_ptw.csdl|res://*/Entities.star_energy_ptw.ssdl|res://*/Entities.star_energy_ptw.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RANZ-KURNIA\SQLEXPRESS;initial catalog=star_energy_ptw;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>